@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    line-height: 1.42;
    font-weight: 400;
    color: #fff;
    background-color: #373636;
  }
  a {
    transition: text-decoration 0.3s ease-in-out;
  }
  a:hover {
    cursor: pointer;
  }
}

@layer components {
  .hero-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-320.webp) type("image/webp") 1x,
        url(/images/hero-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-320.jpg) 1x,
        url(/images/hero-bg-320@2x.jpg) 2x
      );
  }
  .hero-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-768.webp) type("image/webp") 1x,
        url(/images/hero-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-768.jpg) 1x,
        url(/images/hero-bg-768@2x.jpg) 2x
      );
  }
  .hero-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-1280.webp) type("image/webp") 1x,
        url(/images/hero-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-1280.jpg) 1x,
        url(/images/hero-bg-1280@2x.jpg) 2x
      );
  }
  .hero {
    @apply hero-bg-mob bg-cover bg-center md:hero-bg-tab xl:hero-bg-desk relative bg-[#D9D9D9];
  }
  .hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    height: 100%;
    opacity: 0.25;
    background: linear-gradient(
      180deg,
      rgba(0, 24, 38, 1) 0%,
      rgba(0, 37, 49, 0) 44%
    );
  }

  .about-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-320.webp) type("image/webp") 1x,
        url(/images/about-bg-320@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-320.jpg) 1x,
        url(/images/about-bg-320@2x.jpg) 2x
      );
  }
  .about-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-768.webp) type("image/webp") 1x,
        url(/images/about-bg-768@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-768.jpg) 1x,
        url(/images/about-bg-768@2x.jpg) 2x
      );
  }
  .about-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-1280.webp) type("image/webp") 1x,
        url(/images/about-bg-1280@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-1280.jpg) 1x,
        url(/images/about-bg-1280@2x.jpg) 2x
      );
  }

  .about {
    @apply about-bg-mob bg-cover bg-center md:about-bg-tab xl:about-bg-desk relative bg-[#D9D9D9];
  }
  .about::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    height: 100%;
    opacity: 0.25;
    background: linear-gradient(
      180deg,
      rgba(0, 24, 38, 1) 0%,
      rgba(0, 37, 49, 0) 44%
    );
  }
}

.bg-img {
  background-color: rgba(217, 217, 217, 1);
}

.bg-img::after,
.about-img::before,
.contacts-img::before,
.gallery-img::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
}

.bg-img::after {
  top: 0;
  height: 40%;
  background-image: linear-gradient(rgba(0, 36, 38, 0.5), rgba(0, 37, 49, 0));
}

/* .about-img {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../public/images/about-320.jpg);
}

.about-img {
  background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../public/images/happy-couple-320.jpg);
} */

.about-img::before {
  top: 50%;
  height: 50%;
  background-image: linear-gradient(rgba(0, 37, 49, 0), rgba(0, 36, 38, 0.5));
}

.contacts-img {
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    url(../public/images/mountains.jpg);
}

.gallery-img {
  background-image: linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
    url(../public/images/forest.jpg);
}

.corners-border {
  width: 100%;
  height: 53px;
  background: linear-gradient(to right, #fff 1px, transparent 1px) 0 0,
    linear-gradient(to right, #fff 1px, transparent 1px) 0 100%,
    linear-gradient(to left, #fff 1px, transparent 1px) 100% 0,
    linear-gradient(to left, #fff 1px, transparent 1px) 100% 100%,
    linear-gradient(to bottom, #fff 1px, transparent 1px) 0 0,
    linear-gradient(to bottom, #fff 1px, transparent 1px) 100% 0,
    linear-gradient(to top, #fff 1px, transparent 1px) 0 100%,
    linear-gradient(to top, #fff 1px, transparent 1px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 50px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.corners-border:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 1280px) {
  .corners-border {
    height: 70px;
  }
}

.gradient::before {
  content: " ";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 287px;
  background: linear-gradient(
    to bottom,
    rgba(0, 24, 38, 1),
    rgba(0, 37, 49, 0)
  );
}

.gradient::after {
  content: " ";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(2, 15, 8, 0.5),
    rgba(0, 37, 49, 0)
  );
}
