.gallerySwiper.swiper {
  height: 294px;
  @media screen and (min-width: 1280px) {
    height: 429px;
  }
}

.swiper-slide {
  height: auto;
  cursor: pointer;
}
.gallerySwiper .swiper-slide {
  width: 415px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: scale(0.6) !important;
  transition: all 200ms linear;
  box-shadow: 0px 0px 100px 0px rgba(9, 20, 16, 0.25);
  opacity: 1;
  transition: 1s opacity ease-in-out;
  &.swiper-slide-active {
    transform: scale(1.95) !important;
    @media screen and (min-width: 1280px) {
      transform: scale(1.53) !important;
    }
  }
  &.swiper-slide-prev {
    transform: translateX(-45px) scale(0.55) !important;
    @media screen and (min-width: 1280px) {
      transform: translateX(-69px) scale(0.79) !important;
    }
  }
  &.swiper-slide-next {
    transform: translateX(50px) scale(0.55) !important;
    @media screen and (min-width: 1280px) {
      transform: translateX(69px) scale(0.79) !important;
    }
  }
  & img {
    position: relative;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    width: 606px;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-button-prev,
.swiper-button-next {
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 100;
  font-size: 33px;
  color: #fff;
  line-height: 33px;
  transition: text-decoration 0.3s ease-in-out;
}

.swiper-button-prev {
  transform: translate(56px, 110px);
  @media screen and (min-width: 1280px) {
    transform: translate(224px, 173px);
  }
}
.swiper-button-next {
  transform: translate(-52px, 110px);
  @media screen and (min-width: 1280px) {
    transform: translate(-220px, 173px);
  }
}

.image-wrapper {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background-color: rgba(2, 15, 8, 0.75);
  }
}

.swiper-slide-active .image-wrapper::after {
  background-color: transparent;
}

.services-swiper .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
